@use "variables";

%heading {
    display: flex;
    flex-direction: column;
}

%heading--center {
    text-align: center;
    width: 40rem;
}

%button {
    align-items: center;
    border-radius: 28px;
    box-shadow: inset 0 -0.25rem 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    display: flex;
    height: 56px;
    justify-content: center;
    outline: none;
    transition: opacity 0.3s ease;
    width: 228px;

    &:hover {
        opacity: 0.7;
    }
}

%button--ios {
    background-color: variables.$s-cyan;

    &:focus {
        box-shadow: inset 0 -0.25rem 0 rgba(0, 0, 0, 0.1),
                    0 0 1px 0.15rem #FFFFFF,
                    0 0 1px 0.3rem variables.$s-cyan;
    }
}

%button--mac {
    background-color: variables.$l-blue;

    &:focus {
        box-shadow: inset 0 -0.25rem 0 rgba(0, 0, 0, 0.1),
                    0 0 1px 0.15rem #FFFFFF,
                    0 0 1px 0.3rem variables.$l-blue;
    }
}